<div class="container">
    <h1 class="text-center">¿Qué es Mathdo?</h1>
    <hr>
    <p>
        <b>Mathdo</b> es un proyecto personal y escolar que busca ayudar a encontrar los valores
        de las variables dentro de ecuaciones de hasta 3 variables como máximo, está enfocado en ser 
        extremadamente sencillo de usar y bonito de ver.
        <br><br>
        Visita el <a href="">repositorio</a> en GitHub para conocer más al respecto, incluso podrías participar
        en su desarrollo y unirte al equipo <s>no existe ningún equipo.</s>
    </p>
    <hr>
    <h1 class="text-center">¿Cómo funciona?</h1>
    <hr>
    <p>
        Para que esto funcione se necesita de 4 valores esenciales:

        <ul>
            <li>
                La expresión: en este campo incluirás la expresión que desees evaluar, tomando en cuenta que 
                tienes un máximo de 3 variables para usar (por el momento).
            </li>
            <br>
            <li>
                El valor esperado: este valor le señala a Mathdo que es lo que debe de buscar, de tal manera que solo
                te mostrará los valores que apliquen en la expresión.
            </li>
            <br>
            <li>
                Valor minimo/maximo de busqueda: dado que el algoritmo revisa todas las valores de variables posibles dentro de un
                intervalo cerrado es necesario incluir límites, el valor minimo es el comienzo (incluso puede ser un numero negativo)
                y el valor maximo es el final. Ambos pueden ser cualquier numero real.
            </li>
        </ul>
        <br>
        Teniendo esos datos un parser evalua todas las opciones posibles con tus variables y cuando la encuentra te las deja bien lindas
        y formateadas en una página nueva.
    </p>
    <hr>
    <h1 class="text-center">Su creador</h1>
    <hr>
    <p>
        Hola soy Alberto Ocaranza, un estudiante y desarrollador amateur que no puede dormir y que se cansó de ver lo tardado
        que es el proceso de hacer las cosas manualmente, así que siguiendo las reglas busco perder mi tiempo para que los demás 
        no pierdan el suyo.
        <br>
        Me puedes encontrar en <a href="https://github.com/evilelliot">GitHub</a> o en mi cuenta de <a href="https://www.instagram.com/fevil.society/">Instagram</a>.
    </p>
    <hr>
    <h1 class="text-center">Reporte de errores o sugerencias</h1>
    <hr>
    <p>
        Enviame un correo a <a href="mailto:alt.ocaranza@gmail.com">mi correo personal</a> y platiquemos del error o sugerencia que quieras compartir.
    </p>
    <hr>
    <a href="/">Volver a la calculadora...</a>
</div>
